
    <%= flash[:notice] %>

    <div class="flex flex-col items-center mx-6 my-6">
        <h4 class="text-xl font-bold">Import Data</h4>
    <div class="flex-row">
        <button><%= form_tag import_data_path, multipart: true do %></button>
            <%= file_field_tag :file %>
            <button><%= submit_tag "Import file", class: "border-blue-500 rounded bg-blue-500 button hover:bg-blue-600 px-3 py-2 text-white" %></button>
        <% end %>
        </div>
    </div>

    <% if @data.present? %>
        <%= form_with(model: @datum) do |f| %>
            <div class="flex flex-col items-center my-4">
            <p class="">Remove rows:</p>
            <div class="my-2 mx-2"><%= select_tag(:header, options_for_select([['Company Name', 0],['Country', 1], ['Region', 2], ['Description', 3], ['Last Funding', 4], ['Total Funding (USD)', 5]])) %></div>
            <button><%= f.submit "Remove", method: :delete, class: "border-red-600 rounded bg-red-600 button hover:bg-red-700 px-3 py-2 text-white" %></button>
            </div>
        <% end %>
    <% end %>
    <table class="h-screen bg-white flex-col items-center mx-4 my-4 shadow-lg border">
        <thead>
            <tr>
            <th class="border px-2">Company Name</th>
            <th class="border px-2">Country</th>
            <th class="border px-2">Region</th>
            <th class="border px-2">Description</th>
            <th class="border px-2">Last Funding</th>
            <th class="border px-2">Total Funding (USD)</th>
            </tr>
        </thead>
        <tbody>
            <% @data.each do |datum| %>
            <tr class="flex-row border">
            <th><%= datum.company_name %></th>
            <th class="px-2 py-2 font-normal border"><%= datum.country_code %></th>
            <th class="px-2 py-2 font-normal border"><%= datum.region_name %></th>
            <th class="px-2 py-2 font-normal border"><%= datum.description %></th>
            <th class="px-2 py-2 font-normal border"><%= datum.last_funding_on %></th>
            <th class="px-2 py-2 text-white bg-green-400">$<%= datum.total_funding_usd %></th>
            </tr>
            <% end %>
        </tbody>
    </table>
